<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">



<!-- Favicon icon-->
<link rel="shortcut icon" type="image/x-icon" href="{$basePath}/images/favicon/favicon.ico">

<!-- Libs CSS -->


<link href="{$basePath}/libs/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
<link href="{$basePath}/libs/dropzone/dist/dropzone.css"  rel="stylesheet">
<link href="{$basePath}/libs/@mdi/font/css/materialdesignicons.min.css" rel="stylesheet" />
<link href="{$basePath}/libs/prismjs/themes/prism-okaidia.css" rel="stylesheet">








<!-- Theme CSS -->
<link rel="stylesheet" href="{$basePath}/css/theme.min.css">
    <title>Homepage | Dash Ui - Bootstrap 5 Admin Dashboard Template</title>
  </head>

  <body class="bg-light">
    <div id="db-wrapper" class="toggled">
      <!-- navbar vertical -->
       <!-- Sidebar -->

       <!-- Page content -->
      <div id="page-content">
        <div class="header @@classList">
  <!-- navbar -->

</div>
  <div class="alert alert-{$flash->type} d-flex align-items-center" role="alert"  n:if="$flashes" n:foreach="$flashes as $flash">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-check-circle-fill me-2" viewBox="0 0 16 16">
         <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
      </svg>
      <div>
        {$flash->message}
      </div>
   </div>



        <!-- Container fluid -->
        <div class="bg-primary pt-10 pb-21"></div>
        <div class="container-fluid mt-n22 px-6">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-12">
              <!-- Page header -->
              <div>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="mb-2 mb-lg-0">
                    <h3 class="mb-0  text-white">Tasks</h3>
                  </div>
                  <div>
                    <a n:href="createNewTask" class="btn btn-white">Create New Task</a>
                     <a n:href="signOut" class="btn btn-outline-dark">Sign Out</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-12 col-12 mt-6">
              <!-- card -->
              <div class="card ">
                <!-- card body -->
                <div class="card-body">
                  <!-- heading -->
                  
                <!-- table  -->
                
                  {include content}
                
                <!-- card footer  -->


                {*   ----------VIEW ALL TASK-----------
                
                <div class="card-footer bg-white text-center">
                  <a href="#" class="link-primary">View All Tasks</a>

                </div> *}
              </div>

            </div>
          </div>
          <!-- row  -->

        </div>
      </div>
    </div>



    <!-- Scripts -->
    <!-- Libs JS -->
<script src="{$basePath}/libs/jquery/dist/jquery.min.js"></script>
<script src="{$basePath}/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="{$basePath}/libs/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="{$basePath}/libs/feather-icons/dist/feather.min.js"></script>
<script src="{$basePath}/libs/prismjs/prism.js"></script>
<script src="{$basePath}/libs/apexcharts/dist/apexcharts.min.js"></script>
<script src="{$basePath}/libs/dropzone/dist/min/dropzone.min.js"></script>
<script src="{$basePath}/libs/prismjs/plugins/toolbar/prism-toolbar.min.js"></script>
<script src="{$basePath}/libs/prismjs/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js"></script>




<!-- Theme JS -->
<script src="{$basePath}/js/theme.min.js"></script>
    


  </body>

</html>