<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">



<!-- Favicon icon-->
<link rel="shortcut icon" type="image/x-icon" href="{$basePath}/images/favicon/favicon.ico">

<!-- Libs CSS -->


<link href="{$basePath}/libs/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
<link href="{$basePath}/libs/dropzone/dist/dropzone.css"  rel="stylesheet">
<link href="{$basePath}/libs/@mdi/font/css/materialdesignicons.min.css" rel="stylesheet" />
<link href="{$basePath}/libs/prismjs/themes/prism-okaidia.css" rel="stylesheet">








<!-- Theme CSS -->
<link rel="stylesheet" href="{$basePath}/css/theme.min.css">
  <title>Setting | Dash Ui - Bootstrap 5 Admin Dashboard Template</title>
</head>

<body class="bg-light">



      <!-- Container fluid -->
      <div class="container-fluid p-6">

        <div class="row mb-8">
        

          <div class="col-xl-12 col-lg-12 col-md-12 col-12">
            <!-- card -->
            <div class="card">
              <!-- card body -->
              <div class="card-body">
                
               
                <!-- col -->
                
                <div>
                  <!-- border -->
                  
                 {include content}
                </div>
              </div>
            </div>

          </div>
        </div>








        </div>
      </div>
    </div>
  </div>
  <!-- Scripts -->
  <!-- Libs JS -->
<script src="{$basePath}/libs/jquery/dist/jquery.min.js"></script>
<script src="{$basePath}/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="{$basePath}/libs/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="{$basePath}/libs/feather-icons/dist/feather.min.js"></script>
<script src="{$basePath}/libs/prismjs/prism.js"></script>
<script src="{$basePath}/libs/apexcharts/dist/apexcharts.min.js"></script>
<script src="{$basePath}/libs/dropzone/dist/min/dropzone.min.js"></script>
<script src="{$basePath}/libs/prismjs/plugins/toolbar/prism-toolbar.min.js"></script>
<script src="{$basePath}/libs/prismjs/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js"></script>




<!-- Theme JS -->
<script src="{$basePath}/js/theme.min.js"></script>



</body>

</html>