{block content}
	<h1 n:block="title"><a href="{link Admin:signIn}">Login to TO-DO app >>>>></a></h1>

	<h2 style="color:red;"><br>Testing page</h2> 



	<p><a href="{link AllUsers:DisplayUsers}">Ukázat uživatele</a></p>
	{* <h2><a href="{link Tasks:DisplayAllTasks}">Ukázat úkoly</a></h2> DODĚLAT A PROMYSLET DB*} 

{/block}